<div class="container">
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-4"><h2>Student <b>Details</b></h2></div>
        <div class="col-sm-4">
          <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New</button>
        </div>
        <div class="col-sm-4">
          <form [formGroup] = "uploadForm" (ngSubmit)="onSubmit()">
            <div class="form-group row">
              <div class="col-sm-8">
                <input type="file" name="profile" (change)="onFileSelect($event)" class="btn btn-group"/>
              </div>
              <div class="col-sm-4">
                <button type="submit" class="btn btn-info add-new">Upload</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Address</th>
        <th>GPA</th>
        <th>Gender</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let student of students">
        <td>{{student.id}}</td>
        <td>{{student.name}}</td>
        <td>{{student.address}}</td>
        <td>{{student.gpa}}</td>
        <td>{{student.gender}}</td>
        <td>
          <a class="add" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>
          <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
          <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
